DISCORD_TOKEN=ここにtoken

# Default: -
# COMMAND_PREFIX=-

# Default: https://octavia.kj415j45.space
OCTAVIA_API_URL=https://octavia.ericha.dev

# Default: https://api.ennead.cc/mihoyo
# HOYOVERSE_API_URL=https://api.ennead.cc/mihoyo
